.profilePicture .container{
  height:200px;
  width:200px;
  text-align:center;
  border: 2px solid black;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}

.profilePicture .text{
  font-family: "Helvetica";
}
